$montserrat: "Montserrat", sans-serif;
$roboto: "Roboto", sans-serif;
$tenor_sans: "Tenor Sans", sans-serif;
$xxl: 1500px;
$xl: 1260px;
$lg: 1024px;
$xmd: 950px;
$md: 768px;
$sm: 400px;
$xsm: 300px;
$lime-green: #99D02C;
$navy: #0C0150;
$dark-navy: #161326;
$olive-green: #989898;

main {
  * {
    box-sizing: border-box;
  }
}

.team-info {
  .header-wrapper {
    background-image: url(../img/banner-quem_somos-sm.jpg);
    background-repeat: no-repeat;
    background-color: teal;
    background-size: cover;
    background-position: left;
    height: 460px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 80px;

    @media screen and (min-width: $md) {
      background-position: center;
      background-image: url(../img/banner-quem_somos-md.jpg);
    }

    @media screen and (min-width: $xl) {
      background-image: url(../img/banner-quem_somos.jpg);
    }

    h1 {
      font-size: 4.725rem;
      line-height: 1.2;
      color: white;
      font-family: $tenor_sans;
      text-transform: uppercase;
      padding: 0 4vw;
      width: 100%;

      @media screen and (min-width: $xl) {
        padding: 0;
        width: 1000px;
      }
    }
  }

  .introduction {
    display: flex;
    align-items: center;
    justify-content: center;

    .text-grid {
      font-family: $roboto;
      width: 92vw;
      display: grid;
      grid-template-columns: 100%;
      grid-auto-flow: row;
      padding: 52px 0;

      @media screen and (min-width: $md) {
        grid-template-columns: repeat(2, calc(50% - 11px));
        justify-content: space-between;
        row-gap: 40px;
        padding: 80px 0;
      }

      @media screen and (min-width: $xl) {
        width: 1000px;
        padding: 115px 0;
      }

      .quote-wrapper {
        text-align: center;
        border-radius: 8px;
        background-color: #F1F0F5;
        font-family: $tenor_sans;
        grid-column: 1 / span 1;
        padding: 50px 0;

        @media screen and (min-width: $md) {
          grid-column: 1 / span 2;
        }

        strong {
          color: $lime-green;
          display: inline-block;
          font-size: 3.4rem;
          margin-bottom: 30px;
        }

        p {
          color: $dark-navy;
          font-size: 3.4rem;
        }
      }

      .bottom-left {
        margin-bottom: 15px;

        @media screen and (min-width: $md) {
          margin-bottom: 0;
        }
      }

      .text {
        font-family: $roboto;
        font-size: 1.4rem;
        line-height: 2.1rem;
        color: #656565;

        p:not(:last-of-type) {
          margin-bottom: 15px;
        }
      }
    }
  }
}

.team-overview {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-family: $tenor_sans;
    font-size: 3.175rem;
    line-height: 1.3;
    color: $navy;
    padding: 0 4vw;
    margin-bottom: 25px;

    @media screen and (min-width: $lg) {
      margin-bottom: 40px;
    }

    @media screen and (min-width: $xl) {
      padding: 0;
      width: 1000px;
    }

    .highlighted-text {
      color: $lime-green;
    }
  }

  .overview-text {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 0 4vw;
    
    p {
      font-size: 1.4rem;
      line-height: 1.5;
      font-family: $roboto;
      color: #656565;

      @media screen and (min-width: $md) {
        padding: 0 6vw;
      }
  
      @media screen and (min-width: $xl) {
        padding: 0;
        width: 1000px;
      }
    }
  }

  .photo-grid {
    display: grid;
    grid-template-columns: 100%;
    width: 92vw;

    @media screen and (min-width: $md) {
      grid-template-columns: repeat(3, 200px);
      justify-content: space-between;
      row-gap: 50px;
    }

    @media screen and (min-width: $lg) {
      grid-template-columns: repeat(3, 285px);
      width: 1000px;
    }

    .photo-area {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 7px;
      font-family: $roboto;

      img {
        object-fit: cover;
        width: 100%;
        margin-bottom: 10px;

        @media screen and (min-width: $md) {
          height: 159.75px;
        }

        @media screen and (min-width: $lg) {
          height: 220px;
        }
      }

      strong {
        font-size: 1.6rem;
        line-height: 1.2;
        font-weight: bold;
        color: $navy;
      }

      p {
        font-size: 1.4rem;
        line-height: 1.5;
        color: #656565;
      }
    }

    .middle {
      @media screen and (min-width: $md) {
        grid-column: 2 / span 1;
      }

      @media screen and (min-width: $lg) {
        grid-column: 1 / span 1;
      }
    }
  }
}

.products-overview {
  margin-bottom: 50px;

  @media screen and (min-width: $md) {
    margin-bottom: 80px;
  }

  @media screen and (min-width: $lg) {
    margin-bottom: 115px;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 320px;
    background-color: cadetblue;
    background-image: url(../img/apresentacao-produtos6.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 52px 0;
    position: relative;

    @media screen and (min-width: $md) {
      margin: 80px 0;
    }
    
    @media screen and (min-width: $lg) {
      background-image: url(../img/apresentacao-produtos6.jpg);
    }

    @media screen and (min-width: $xl) {
      margin: 115px 0;
    }

    .shaded-overlay {
      background-color: #00000050;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 100;
    }

    h2 {
      font-family: $roboto;
      font-size: 4.14rem;
      line-height: 1.3;
      color: white;
      width: 70vw;
      padding: 20px 0;
      font-weight: 500;
      background-color: rgb(161 255 51 / 57%);
      text-align: center;
      border-radius: 10px;
      position: relative;
      z-index: 110;

      @media screen and (min-width: $xl) {
        width: 750px;
      }
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .products-grid {
      width: 92vw;
      display: grid;
      grid-template-columns: 100%;
      row-gap: 30px;

      @media screen and (min-width: $md) {
        grid-template-columns: repeat(2, calc(50% - 10px));
        justify-content: space-between;
      }

      @media screen and (min-width: $lg) {
        grid-template-columns: repeat(2, calc(50% - 25px));
        row-gap: 50px;
      }

      @media screen and (min-width: $xl) {
        width: 1000px;
      }

      .product-description {
        position: relative;

        h3 {
          font-family: $tenor_sans;
          color: $lime-green;
          font-size: 2.4rem;
          line-height: 1.3;
          text-transform: uppercase;
          margin-bottom: 48px;
          position: relative;
          z-index: 100;
        }
        

        strong {
          font-family: $roboto;
          color: #E7E7E7;
          font-weight: 300;
          font-size: 160px;
          line-height: 1;
          position: absolute;
          top: -20px;
          right: 0;
          z-index: 99;
        }

        p {
          position: relative;
          color: #848484;
          font-size: 1.4rem;
          line-height: 1.5;
          z-index: 100;
        }
      }
    }
  }
}