main * {
  box-sizing: border-box;
}

.team-info .header-wrapper {
  background-image: url(../img/banner-quem_somos-sm.jpg);
  background-repeat: no-repeat;
  background-color: teal;
  background-size: cover;
  background-position: left;
  height: 460px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 80px;
}
@media screen and (min-width: 768px) {
  .team-info .header-wrapper {
    background-position: center;
    background-image: url(../img/banner-quem_somos-md.jpg);
  }
}
@media screen and (min-width: 1260px) {
  .team-info .header-wrapper {
    background-image: url(../img/banner-quem_somos.jpg);
  }
}
.team-info .header-wrapper h1 {
  font-size: 4.725rem;
  line-height: 1.2;
  color: white;
  font-family: "Tenor Sans", sans-serif;
  text-transform: uppercase;
  padding: 0 4vw;
  width: 100%;
}
@media screen and (min-width: 1260px) {
  .team-info .header-wrapper h1 {
    padding: 0;
    width: 1000px;
  }
}
.team-info .introduction {
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-info .introduction .text-grid {
  font-family: "Roboto", sans-serif;
  width: 92vw;
  display: grid;
  grid-template-columns: 100%;
  grid-auto-flow: row;
  padding: 52px 0;
}
@media screen and (min-width: 768px) {
  .team-info .introduction .text-grid {
    grid-template-columns: repeat(2, calc(50% - 11px));
    justify-content: space-between;
    row-gap: 40px;
    padding: 80px 0;
  }
}
@media screen and (min-width: 1260px) {
  .team-info .introduction .text-grid {
    width: 1000px;
    padding: 115px 0;
  }
}
.team-info .introduction .text-grid .quote-wrapper {
  text-align: center;
  border-radius: 8px;
  background-color: #F1F0F5;
  font-family: "Tenor Sans", sans-serif;
  grid-column: 1/span 1;
  padding: 50px 0;
}
@media screen and (min-width: 768px) {
  .team-info .introduction .text-grid .quote-wrapper {
    grid-column: 1/span 2;
  }
}
.team-info .introduction .text-grid .quote-wrapper strong {
  color: #99D02C;
  display: inline-block;
  font-size: 3.4rem;
  margin-bottom: 30px;
}
.team-info .introduction .text-grid .quote-wrapper p {
  color: #161326;
  font-size: 3.4rem;
}
.team-info .introduction .text-grid .bottom-left {
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .team-info .introduction .text-grid .bottom-left {
    margin-bottom: 0;
  }
}
.team-info .introduction .text-grid .text {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  line-height: 2.1rem;
  color: #656565;
}
.team-info .introduction .text-grid .text p:not(:last-of-type) {
  margin-bottom: 15px;
}

.team-overview {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-overview h2 {
  font-family: "Tenor Sans", sans-serif;
  font-size: 3.175rem;
  line-height: 1.3;
  color: #0C0150;
  padding: 0 4vw;
  margin-bottom: 25px;
}
@media screen and (min-width: 1024px) {
  .team-overview h2 {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1260px) {
  .team-overview h2 {
    padding: 0;
    width: 1000px;
  }
}
.team-overview h2 .highlighted-text {
  color: #99D02C;
}
.team-overview .overview-text {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 0 4vw;
}
.team-overview .overview-text p {
  font-size: 1.4rem;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  color: #656565;
}
@media screen and (min-width: 768px) {
  .team-overview .overview-text p {
    padding: 0 6vw;
  }
}
@media screen and (min-width: 1260px) {
  .team-overview .overview-text p {
    padding: 0;
    width: 1000px;
  }
}
.team-overview .photo-grid {
  display: grid;
  grid-template-columns: 100%;
  width: 92vw;
}
@media screen and (min-width: 768px) {
  .team-overview .photo-grid {
    grid-template-columns: repeat(3, 200px);
    justify-content: space-between;
    row-gap: 50px;
  }
}
@media screen and (min-width: 1024px) {
  .team-overview .photo-grid {
    grid-template-columns: repeat(3, 285px);
    width: 1000px;
  }
}
.team-overview .photo-grid .photo-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 7px;
  font-family: "Roboto", sans-serif;
}
.team-overview .photo-grid .photo-area img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .team-overview .photo-grid .photo-area img {
    height: 159.75px;
  }
}
@media screen and (min-width: 1024px) {
  .team-overview .photo-grid .photo-area img {
    height: 220px;
  }
}
.team-overview .photo-grid .photo-area strong {
  font-size: 1.6rem;
  line-height: 1.2;
  font-weight: bold;
  color: #0C0150;
}
.team-overview .photo-grid .photo-area p {
  font-size: 1.4rem;
  line-height: 1.5;
  color: #656565;
}
@media screen and (min-width: 768px) {
  .team-overview .photo-grid .middle {
    grid-column: 2/span 1;
  }
}
@media screen and (min-width: 1024px) {
  .team-overview .photo-grid .middle {
    grid-column: 1/span 1;
  }
}

.products-overview {
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .products-overview {
    margin-bottom: 80px;
  }
}
@media screen and (min-width: 1024px) {
  .products-overview {
    margin-bottom: 115px;
  }
}
.products-overview header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 320px;
  background-color: cadetblue;
  background-image: url(../img/apresentacao-produtos6.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 52px 0;
  position: relative;
}
@media screen and (min-width: 768px) {
  .products-overview header {
    margin: 80px 0;
  }
}
@media screen and (min-width: 1024px) {
  .products-overview header {
    background-image: url(../img/apresentacao-produtos6.jpg);
  }
}
@media screen and (min-width: 1260px) {
  .products-overview header {
    margin: 115px 0;
  }
}
.products-overview header .shaded-overlay {
  background-color: rgba(0, 0, 0, 0.3137254902);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
.products-overview header h2 {
  font-family: "Roboto", sans-serif;
  font-size: 4.14rem;
  line-height: 1.3;
  color: white;
  width: 70vw;
  padding: 20px 0;
  font-weight: 500;
  background-color: rgba(161, 255, 51, 0.57);
  text-align: center;
  border-radius: 10px;
  position: relative;
  z-index: 110;
}
@media screen and (min-width: 1260px) {
  .products-overview header h2 {
    width: 750px;
  }
}
.products-overview .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.products-overview .container .products-grid {
  width: 92vw;
  display: grid;
  grid-template-columns: 100%;
  row-gap: 30px;
}
@media screen and (min-width: 768px) {
  .products-overview .container .products-grid {
    grid-template-columns: repeat(2, calc(50% - 10px));
    justify-content: space-between;
  }
}
@media screen and (min-width: 1024px) {
  .products-overview .container .products-grid {
    grid-template-columns: repeat(2, calc(50% - 25px));
    row-gap: 50px;
  }
}
@media screen and (min-width: 1260px) {
  .products-overview .container .products-grid {
    width: 1000px;
  }
}
.products-overview .container .products-grid .product-description {
  position: relative;
}
.products-overview .container .products-grid .product-description h3 {
  font-family: "Tenor Sans", sans-serif;
  color: #99D02C;
  font-size: 2.4rem;
  line-height: 1.3;
  text-transform: uppercase;
  margin-bottom: 48px;
  position: relative;
  z-index: 100;
}
.products-overview .container .products-grid .product-description strong {
  font-family: "Roboto", sans-serif;
  color: #E7E7E7;
  font-weight: 300;
  font-size: 160px;
  line-height: 1;
  position: absolute;
  top: -20px;
  right: 0;
  z-index: 99;
}
.products-overview .container .products-grid .product-description p {
  position: relative;
  color: #848484;
  font-size: 1.4rem;
  line-height: 1.5;
  z-index: 100;
}/*# sourceMappingURL=group-identity.css.map */