.banner {
  width: 100%;
  height: 540px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .banner {
    height: 600px;
  }
}
@media screen and (min-width: 1024px) {
  .banner {
    height: 760px;
  }
}
.banner #video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left bottom;
     object-position: left bottom;
}
@media screen and (min-width: 1024px) {
  .banner #video {
    -o-object-position: unset;
       object-position: unset;
  }
}
.banner .gbm-cta {
  position: absolute;
  right: 20px;
  bottom: 30px;
  z-index: 801;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 15.5px;
}
@media screen and (min-width: 768px) {
  .banner .gbm-cta {
    bottom: 50px;
    right: 90px;
  }
}
.banner .gbm-cta strong {
  font-family: "Tenor Sans", sans-serif;
  font-size: 38px;
  font-weight: 400;
  color: white;
}
@media screen and (min-width: 768px) {
  .banner .gbm-cta strong {
    font-size: 55px;
  }
}
.banner .gbm-cta a {
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 50px;
  font-size: 12px;
  background-color: #99D02C;
  color: #0C0150;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}

.products .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 32px;
  margin-top: 64px;
  margin-bottom: 52px;
}
@media screen and (min-width: 768px) {
  .products .wrapper {
    margin-bottom: 80px;
    margin-top: 80px;
  }
}
@media screen and (min-width: 1024px) {
  .products .wrapper {
    /* margin-bottom: 105px;
    margin-top: 115px; */
  }
}
.products .wrapper .section-title {
  font-family: "Tenor Sans", sans-serif;
  font-size: 47.6px;
  line-height: 55px;
  text-align: center;
  color: #989898;
  max-width: 92vw;
}
.products .wrapper .swiper {
  width: 92vw;
}
@media screen and (min-width: 768px) {
  .products .wrapper .swiper {
    width: 98vw;
  }
}
@media screen and (min-width: 1260px) {
  .products .wrapper .swiper {
    width: 97vw;
  }
}
.products .wrapper .swiper .swiper-wrapper {
  height: 320px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
@media screen and (min-width: 500px) {
  .products .wrapper .swiper .swiper-wrapper {
    height: 410px;
  }
}
@media screen and (min-width: 600px) {
  .products .wrapper .swiper .swiper-wrapper {
    height: 470px;
  }
}
@media screen and (min-width: 768px) {
  .products .wrapper .swiper .swiper-wrapper {
    height: 350px;
  }
}
@media screen and (min-width: 1024px) {
  .products .wrapper .swiper .swiper-wrapper {
    margin-top: 20px;
    height: 515px;
  }
}
@media screen and (min-width: 1260px) {
  .products .wrapper .swiper .swiper-wrapper {
    height: 575px;
  }
}
.products .wrapper .swiper .swiper-wrapper .swiper-slide {
  text-decoration: none;
  background-color: black;
  color: white;
  display: flex;
  position: relative;
  font-family: "Roboto", sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  z-index: 401;
  transition: all 0.3s ease-out;
}
@media screen and (min-width: 1024px) {
  .products .wrapper .swiper .swiper-wrapper .swiper-slide:hover {
    transform: scale(1.05);
    z-index: 500;
  }
  .products .wrapper .swiper .swiper-wrapper .swiper-slide:hover .desktop-slide-overlay {
    display: block;
  }
  .products .wrapper .swiper .swiper-wrapper .swiper-slide:hover .text-content {
    bottom: 27%;
  }
  .products .wrapper .swiper .swiper-wrapper .swiper-slide:hover .text-content .retractable-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 1024px) {
  .products .wrapper .swiper .swiper-wrapper .swiper-slide {
    height: 490px;
  }
}
@media screen and (min-width: 1260px) {
  .products .wrapper .swiper .swiper-wrapper .swiper-slide {
    height: 550px;
  }
}
.products .wrapper .swiper .swiper-wrapper .swiper-slide .slide-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 401;
  background-color: rgba(0, 0, 0, 0.25);
}
.products .wrapper .swiper .swiper-wrapper .swiper-slide .desktop-slide-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 403;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}
.products .wrapper .swiper .swiper-wrapper .swiper-slide .text-content {
  position: absolute;
  bottom: 25px;
  left: 10%;
  z-index: 404;
  width: 80%;
  transition: all 0.5s ease-out;
  text-align: center;
}
.products .wrapper .swiper .swiper-wrapper .swiper-slide .text-content strong {
  display: inline-block;
  text-align: center;
  width: 100%;
  transition: all 0.3s ease;
  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
  margin-bottom: 3px;
}
.products .wrapper .swiper .swiper-wrapper .swiper-slide .text-content .retractable-content {
  display: none;
  z-index: 404;
  transition: all 0.3s ease;
  row-gap: 10px;
}
.products .wrapper .swiper .swiper-wrapper .swiper-slide .text-content .retractable-content p {
  font-size: 14px;
  letter-spacing: 0.7px;
  line-height: 16px;
}
.products .wrapper .swiper .swiper-wrapper .swiper-slide .text-content .retractable-content .product-cta {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 140px;
  border-radius: 6px;
  background-color: #99D02C;
  color: #0C0150;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
}

.featured-content {
  background-color: #E2E1E6;
}
.featured-content .wrapper {
  padding-top: 60px;
  padding-bottom: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
}
.featured-content .wrapper h2 {
  font-family: "Tenor Sans", sans-serif;
  font-size: 47.25px;
  line-height: 56px;
  color: #0C0150;
  text-align: center;
}
.featured-content .wrapper .items-grid {
  width: 92vw;
  display: grid;
  grid-template-columns: 100%;
  row-gap: 20px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media screen and (min-width: 768px) {
  .featured-content .wrapper .items-grid {
    grid-template-columns: 50% 50%;
  }
}
@media screen and (min-width: 1024px) {
  .featured-content .wrapper .items-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media screen and (min-width: 1500px) {
  .featured-content .wrapper .items-grid {
    width: 1170px;
  }
}
.featured-content .wrapper .items-grid article {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 300px;
  position: relative;
  box-sizing: border-box;
}
@media screen and (min-width: 768px) {
  .featured-content .wrapper .items-grid article {
    height: 320px;
  }
}
@media screen and (min-width: 1500px) {
  .featured-content .wrapper .items-grid article {
    height: 370px;
  }
}
.featured-content .wrapper .items-grid article a {
  text-decoration: none;
  color: white;
  display: block;
  width: 100%;
  height: 100%;
}
.featured-content .wrapper .items-grid article a:hover .cta-content {
  display: flex;
}
.featured-content .wrapper .items-grid article a:hover .desktop-card-overlay {
  visibility: visible;
  opacity: 1;
}
.featured-content .wrapper .items-grid article a .desktop-card-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease;
  visibility: hidden;
  opacity: 0;
}
.featured-content .wrapper .items-grid article a .card-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.25);
}
.featured-content .wrapper .items-grid article a h3 {
  color: #99D02C;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  margin-bottom: 5px;
}
.featured-content .wrapper .items-grid article a h4 {
  font-size: 28px;
  font-family: "Tenor Sans", sans-serif;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.featured-content .wrapper .items-grid article a p {
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
.featured-content .wrapper .items-grid article a .text-content {
  position: absolute;
  width: calc(100% - 40px);
  text-align: left;
  bottom: 40px;
  left: 20px;
}
@media screen and (min-width: 1500px) {
  .featured-content .wrapper .items-grid article a .text-content {
    width: calc(100% - 50px);
    left: 25px;
  }
}
.featured-content .wrapper .items-grid article a .cta-content {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  margin-top: 30px;
}
@media screen and (min-width: 1024px) {
  .featured-content .wrapper .items-grid article a .cta-content {
    display: none;
  }
}
.featured-content .wrapper .items-grid article a .cta-content strong {
  font-weight: bold;
}
.featured-content .wrapper .items-grid article a .cta-content .cta {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 140px;
  border-radius: 6px;
  background-color: #99D02C;
  color: #0C0150;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}
.featured-content .wrapper .items-grid .two-thirds, .featured-content .wrapper .items-grid .one-third, .featured-content .wrapper .items-grid .one-half {
  grid-column: 1/span 1;
}
@media screen and (min-width: 768px) {
  .featured-content .wrapper .items-grid .first-col {
    grid-column-start: 1;
  }
  .featured-content .wrapper .items-grid .second-col {
    grid-column-start: 2;
  }
  .featured-content .wrapper .items-grid .one-half {
    grid-column-end: span 1;
  }
}
@media screen and (min-width: 1024px) {
  .featured-content .wrapper .items-grid .two-thirds {
    grid-column-end: span 4;
  }
  .featured-content .wrapper .items-grid .one-third {
    grid-column-end: span 2;
  }
  .featured-content .wrapper .items-grid .one-half {
    grid-column-end: span 3;
  }
  .featured-content .wrapper .items-grid .first-col.two-thirds {
    grid-column-start: 1;
  }
  .featured-content .wrapper .items-grid .second-col.two-thirds {
    grid-column-start: 3;
  }
  .featured-content .wrapper .items-grid .first-col.one-third {
    grid-column-start: 1;
  }
  .featured-content .wrapper .items-grid .second-col.one-third {
    grid-column-start: 5;
  }
  .featured-content .wrapper .items-grid .first-coi.one-half {
    grid-column-start: 1;
  }
  .featured-content .wrapper .items-grid .second-col.one-half {
    grid-column-start: 4;
  }
}

.specialists-review {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 52px 0;
}
@media screen and (min-width: 768px) {
  .specialists-review {
    padding: 80px 0;
  }
}
@media screen and (min-width: 1024px) {
  .specialists-review {
    padding: 115px 0;
  }
}
.specialists-review .wrapper {
  width: 92vw;
}
.specialists-review .wrapper h2 {
  font-family: "Tenor Sans", sans-serif;
  font-size: 47.25px;
  line-height: 56px;
  color: #989898;
  text-align: center;
  margin-bottom: 33px;
}
.specialists-review .wrapper .cards-grid {
  box-sizing: border-box;
  display: grid;
  row-gap: 15px;
  grid-template-columns: 100%;
  margin: 0 auto;
  /* column-gap: 25px; */
}
@media screen and (min-width: 768px) {
  .specialists-review .wrapper .cards-grid {
    width: 720px;
    grid-template-columns: repeat(2, 327px);
    justify-content: space-between;
  }
}
@media screen and (min-width: 1024px) {
  .specialists-review .wrapper .cards-grid {
    width: 800px;
    grid-template-columns: repeat(2, 382px);
  }
}
@media screen and (min-width: 1260px) {
  .specialists-review .wrapper .cards-grid {
    width: 1140px;
    grid-template-columns: repeat(2, 555px);
    justify-content: space-between;
  }
}
.specialists-review .wrapper .swiper {
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #D7DFE4;
  padding: 20px;
  grid-column-end: span 1;
  width: 100%;
  background-color: white;
  overflow: hidden;
}
.specialists-review .wrapper .swiper .swiper-wrapper {
  width: 100%;
}
.specialists-review .wrapper .swiper .swiper-wrapper .swiper-slide {
  color: #5F5F5F;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.specialists-review .wrapper .swiper .swiper-wrapper .swiper-slide .quotation-mark {
  height: 30px;
  width: 30px;
  margin-bottom: 9px;
}
.specialists-review .wrapper .swiper .swiper-wrapper .swiper-slide h3 {
  font-size: 18px;
  font-weight: 600;
  font-style: italic;
  line-height: 21.6px;
  margin-bottom: 2px;
}
.specialists-review .wrapper .swiper .swiper-wrapper .swiper-slide .description {
  font-size: 18px;
  font-style: italic;
  line-height: 20px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .specialists-review .wrapper .swiper .swiper-wrapper .swiper-slide .description {
    margin-bottom: 0;
  }
}
.specialists-review .wrapper .swiper .swiper-wrapper .swiper-slide .author {
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  width: 100%;
}
@media screen and (min-width: 520px) {
  .specialists-review .wrapper .swiper .swiper-wrapper .swiper-slide .author {
    flex-direction: row;
    -moz-column-gap: 12.5px;
         column-gap: 12.5px;
    align-items: flex-end;
    justify-content: flex-end;
  }
}
.specialists-review .wrapper .swiper .swiper-wrapper .swiper-slide .author .info .name {
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
}
.specialists-review .wrapper .swiper .swiper-wrapper .swiper-slide .author .info .ocupation {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .specialists-review .wrapper .swiper .swiper-wrapper .swiper-slide .author .info .ocupation {
    text-align: left;
  }
}
.specialists-review .wrapper .swiper .swiper-wrapper .swiper-slide .author .portrait {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

.external-links {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 30px;
  -moz-column-gap: 38px;
       column-gap: 38px;
  max-width: 100vw;
}
@media screen and (min-width: 1024px) {
  .external-links {
    grid-template-columns: repeat(2, calc(50% - 19px));
  }
}
.external-links article {
  position: relative;
  font-family: "Roboto", sans-serif;
}
.external-links strong {
  font-size: 12px;
  line-height: 17px;
  font-weight: 500;
  text-transform: uppercase;
  color: #FFF;
}
@media screen and (min-width: 1024px) {
  .external-links strong {
    font-size: 14px;
    line-height: 21px;
  }
}
.external-links .queensclub-section {
  height: 394px;
  width: 100%;
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size: cover, cover;
  background-color: #3a007c;
  grid-column: 1/span 1;
  background-image: linear-gradient(90deg, hsla(258, 69%, 15%, 0.5), hsla(258, 69%, 15%, 0.5)), url(../img/links_externos/bg-queensclub-sm.jpg);
}
@media screen and (min-width: 768px) {
  .external-links .queensclub-section {
    background-image: linear-gradient(90deg, hsla(258, 69%, 15%, 0.5), hsla(258, 69%, 15%, 0.5)), url(../img/links_externos/bg-queensclub-md.jpg);
  }
}
@media screen and (min-width: 1024px) {
  .external-links .queensclub-section {
    height: 380px;
  }
}
.external-links .queensclub-section h2 {
  width: 200px;
  height: 40px;
  position: absolute;
  top: 80px;
  left: calc(50% - 100px);
}
@media screen and (min-width: 300px) {
  .external-links .queensclub-section h2 {
    width: 300px;
    height: 55px;
    left: calc(50% - 150px);
  }
}
@media screen and (min-width: 1024px) {
  .external-links .queensclub-section h2 {
    top: 100px;
    left: unset;
    right: 60px;
  }
}
.external-links .queensclub-section h2 img {
  height: 100%;
  width: 100%;
}
.external-links .queensclub-section strong {
  position: absolute;
  bottom: 111px;
  width: 80%;
  text-align: center;
  left: 10%;
}
@media screen and (min-width: 1024px) {
  .external-links .queensclub-section strong {
    width: 220px;
    left: unset;
    right: 60px;
    top: 187px;
  }
}
.external-links .queensclub-section a {
  position: absolute;
  bottom: 30px;
  left: calc(50% - 80px);
}
@media screen and (min-width: 1024px) {
  .external-links .queensclub-section a {
    left: 115px;
  }
}
@media screen and (min-width: 1500px) {
  .external-links .queensclub-section a {
    right: unset;
    left: calc(50% - 80px);
  }
}
.external-links .blog-section {
  height: 293px;
  width: 100%;
  background-image: linear-gradient(90deg, hsla(258, 69%, 15%, 0.5), hsla(258, 69%, 15%, 0.5)), url(../img/links_externos/blog-bg-sm.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size: cover, cover;
  background-color: #3a007c;
  grid-column: 1/span 1;
}
@media screen and (min-width: 768px) {
  .external-links .blog-section {
    background-image: linear-gradient(90deg, hsla(258, 69%, 15%, 0.5), hsla(258, 69%, 15%, 0.5)), url(../img/links_externos/blog-bg-md.jpg);
  }
}
.external-links .blog-section h2 {
  font-size: 65px;
  line-height: 78px;
  font-weight: 500;
  top: 55px;
  left: 0;
  width: 100%;
  text-align: center;
  position: absolute;
}
@media screen and (min-width: 1024px) {
  .external-links .blog-section h2 {
    top: 85px;
    width: 70%;
    left: 85px;
    text-align: left;
  }
}
@media screen and (min-width: 768px) {
  .external-links .blog-section {
    height: 274px;
  }
}
@media screen and (min-width: 1024px) {
  .external-links .blog-section {
    height: 380px;
    grid-column: 2/span 1;
  }
}
.external-links .blog-section strong {
  position: absolute;
  bottom: 111px;
  width: 80%;
  text-align: center;
  left: 10%;
}
@media screen and (min-width: 1024px) {
  .external-links .blog-section strong {
    width: 330px;
    top: 187px;
  }
}
.external-links .blog-section a {
  position: absolute;
  bottom: 30px;
  left: calc(50% - 80px);
}
@media screen and (min-width: 1024px) {
  .external-links .blog-section a {
    left: unset;
    right: 115px;
  }
}
@media screen and (min-width: 1500px) {
  .external-links .blog-section a {
    right: unset;
    left: calc(50% - 80px);
  }
}
.external-links h2 {
  color: #FFF;
}
.external-links a {
  display: flex;
  width: 160px;
  height: 50px;
  background-color: #99D02C;
  color: #0C0150;
  text-transform: uppercase;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  border-radius: 5px;
  text-decoration: none;
}

.featured-videos {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .featured-videos {
    justify-content: flex-end;
  }
}
@media screen and (min-width: 1024px) {
  .featured-videos {
    padding-right: 0;
  }
}
.featured-videos * {
  box-sizing: border-box;
}
.featured-videos .wrapper {
  width: 92vw;
  display: grid;
  grid-template-columns: 100%;
  row-gap: 33px;
  margin-top: 80px;
  margin-bottom: 65px;
  /* .desktop-controllers {
    display: none;
    position: relative;
    grid-row: 3 / span 1;
    grid-column: 3 / span 1;

    @media screen and (min-width: $lg) {
      display: inline-block;
    }
  } */
}
@media screen and (min-width: 1024px) {
  .featured-videos .wrapper {
    grid-template-columns: 240px 10px calc(100% - 250px);
    width: calc(100% - 100px);
    background-image: linear-gradient(90deg, #E2E1E6, #E2E1E6);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 40% 100%;
  }
}
@media screen and (min-width: 1500px) {
  .featured-videos .wrapper {
    grid-template-columns: 240px 120px calc(100% - 360px);
  }
}
.featured-videos .wrapper .filler {
  display: none;
}
@media screen and (min-width: 1024px) {
  .featured-videos .wrapper .filler {
    grid-column: 1/span 1;
    grid-row: 2/span 1;
  }
}
.featured-videos .wrapper header {
  width: 100%;
  grid-column: 1/span 1;
  grid-row: 1/span 1;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .featured-videos .wrapper header {
    text-align: left;
  }
}
.featured-videos .wrapper header h2 {
  font-size: 47px;
  line-height: 57px;
  font-family: "Tenor Sans", sans-serif;
  color: #989898;
  margin-bottom: 13px;
}
.featured-videos .wrapper header h3 {
  font-size: 18px;
  line-height: 22px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #0C0150;
}
.featured-videos .wrapper .swiper {
  width: 100%;
  grid-column: 1/span 1;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .featured-videos .wrapper .swiper {
    grid-row: 2/span 1;
    grid-column: 3/span 1;
  }
}
@media screen and (min-width: 1024px) {
  .featured-videos .wrapper .swiper .swiper-button-prev {
    top: 90%;
  }
}
@media screen and (min-width: 1024px) {
  .featured-videos .wrapper .swiper .swiper-button-next {
    top: 90%;
    left: 80px;
  }
}
@media screen and (min-width: 1024px) {
  .featured-videos .wrapper .swiper .swiper-wrapper {
    padding-bottom: 120px;
  }
}
.featured-videos .wrapper .swiper .swiper-wrapper .swiper-slide {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .featured-videos .wrapper .swiper .swiper-wrapper .swiper-slide {
    justify-content: flex-start;
  }
}
.featured-videos .wrapper .swiper .swiper-wrapper .swiper-slide .video-frame {
  width: 92vw;
  display: inline-block;
  height: auto;
  min-height: 240px;
}
@media screen and (min-width: 768px) {
  .featured-videos .wrapper .swiper .swiper-wrapper .swiper-slide .video-frame {
    min-height: unset;
    width: 470px;
    height: 280px;
  }
}
.featured-videos .wrapper .mobile-controllers {
  /* @media screen and (min-width: $lg) {
    display: none;
  } */
}
@media screen and (min-width: 1024px) {
  .featured-videos .wrapper .mobile-controllers .swiper-button-prev {
    position: absolute;
    bottom: -20px;
  }
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 540px;
  width: 100%;
  overflow: hidden;
  z-index: 800;
  background-color: rgba(0, 0, 0, 0.4);
}
@media screen and (min-width: 768px) {
  .video-overlay {
    height: 600px;
  }
}
@media screen and (min-width: 1024px) {
  .video-overlay {
    height: 760px;
  }
}

.mb-currency-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50px;
  background-color: #99D02C;
  align-items: center;
  justify-content: center;
  row-gap: 5px;
}
@media screen and (min-width: 1024px) {
  .mb-currency-field {
    display: none;
  }
}
.mb-currency-field .quotation {
  font-size: 13.5px;
  font-weight: bold;
}
.mb-currency-field .quotation-date {
  font-size: 19px;
}/*# sourceMappingURL=home-page.css.map */