@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  font-size: 10px;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
}

.desktop-navigation {
  position: fixed;
  width: 100%;
  z-index: 900;
}
.desktop-navigation:hover > .nav-a, .desktop-navigation:hover > .nav-b {
  background-color: white;
}
.desktop-navigation:hover .upper-right .green-highlight, .desktop-navigation:hover .search-btn .btn-ico, .desktop-navigation:hover .nav-links li a {
  color: black;
}
.desktop-navigation:hover .upper-right .user-icon {
  filter: invert(100%);
}
@media screen and (max-width: 1025px) {
  .desktop-navigation {
    display: none;
  }
}

.nav-a {
  background-color: rgba(255, 255, 255, 0.2);
  color: #3c3c3c;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  font-family: "Montserrat", sans-serif;
  transition: all 0.4s ease;
}
.nav-a .wrapper {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 30% 40% 30%;
  padding: 0 10px;
  width: 100%;
  align-items: center;
}
.nav-a .wrapper .search-field {
  display: flex;
  flex-direction: row-reverse;
  -moz-column-gap: 17.2px;
       column-gap: 17.2px;
  grid-column: 1/span 1;
  justify-content: flex-end;
  margin-left: 40px;
}
.nav-a .wrapper .search-field input {
  outline: none;
}
.nav-a .wrapper .search-field input::-moz-placeholder {
  color: white;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  letter-spacing: 5px;
}
.nav-a .wrapper .search-field input::placeholder {
  color: white;
  transition: all 0.3s ease;
  letter-spacing: 5px;
}
.nav-a .wrapper .search-field input, .nav-a .wrapper .search-field .search-btn {
  background-color: transparent;
  color: white;
  border: 0px solid black;
  transition: all 0.3s ease;
}
.nav-a .wrapper .search-field .btn-ico {
  transition: all 0.3s ease;
}
.nav-a .wrapper .search-field input:active ~ input::-moz-placeholder {
  letter-spacing: 1px;
}
.nav-a .wrapper .search-field input:active ~ input::placeholder {
  letter-spacing: 1px;
}
.nav-a .wrapper .site-logo {
  height: 50px;
  width: 200px;
  justify-self: center;
  grid-column: 2/span 1;
}
.nav-a .wrapper .site-logo .logo-img {
  height: 100%;
  width: 100%;
}
.nav-a .wrapper .upper-right {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
  justify-content: flex-end;
  grid-column: 3/span 1;
}
.nav-a .wrapper .green-highlight {
  background-color: #99D02C;
  box-sizing: border-box;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 190px;
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.3s ease;
  padding: 5px 3px;
}
.nav-a .wrapper .green-highlight:hover {
  color: black;
}
.nav-a .wrapper .green-highlight .user-icon {
  transition: all 0.3s ease;
}
.nav-a .wrapper a {
  color: white;
  text-decoration: none;
}
.nav-a .wrapper .currency-field {
  flex-direction: column;
  font-size: 10px;
  line-height: 12px;
  cursor: pointer;
  text-align: center;
}
@media screen and (min-width: 1500px) {
  .nav-a .wrapper .currency-field {
    font-size: 11.1px;
    line-height: 13.9px;
  }
}
.nav-a .wrapper .currency-field .bold {
  font-weight: bold;
}
.nav-a .wrapper .agent-field {
  font-size: 13px;
  -moz-column-gap: 5px;
       column-gap: 5px;
  text-transform: uppercase;
}

.nav-b {
  background-color: rgba(255, 255, 255, 0.4);
  height: 50px;
  /* line-height: 50px; */
  transition: all 0.3s ease;
  font-family: "Montserrat", sans-serif;
  /* .dot-ref::after {
    content: "●";
    color: $lime-green;
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    top: 23px;
    left: calc(50% - 7px);
    z-index: 901;
  } */
}
.nav-b .wrapper {
  /* position: relative; */
  max-width: 1000px; /* change here */
  padding: 0 30px; /* change here */
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-b .dot-ref {
  position: relative;
}
.nav-b .nav-links {
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.nav-b .nav-links a:hover .dot-ref::after, .nav-b .nav-links a:focus .dot-ref::after, .nav-b .nav-links a:active .dot-ref::after {
  content: "●";
  color: #99D02C;
  font-size: 20px;
  line-height: 20px;
  position: absolute;
  top: 23px;
  left: calc(50% - 7px);
  z-index: 901;
}
.nav-b .nav-links .green-dot-destinos, .nav-b .nav-links .green-dot-produtos {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #99D02C;
  border-radius: 50px;
  bottom: calc(50% - 5px);
  left: calc(50% - 5px);
  z-index: 998;
}
.nav-b .wrapper .nav-links {
  display: inline-flex;
}
.nav-b .nav-links li {
  list-style: none;
}
.nav-b .nav-links .nav-link {
  line-height: 50px;
}
.nav-b .nav-links li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.3s ease;
  border-radius: 5px;
  text-transform: uppercase;
}
.nav-b .nav-links li:hover .drop-menu,
.nav-b .nav-links li:hover .mega-box {
  top: 120px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
.nav-b .mega-box {
  position: absolute;
  top: 135px;
  width: 100vw;
  left: 0;
  opacity: 0;
  visibility: hidden;
  background-color: #F8F7F5;
  display: flex;
  justify-content: center;
  box-shadow: inset 0px 1.5px 5px 0px rgba(0, 0, 0, 0.25);
}
.nav-b .mega-box .content-a {
  padding: 25px 20px;
  display: flex;
  width: 1000px;
  max-width: 1000px;
  justify-content: space-between;
  transition: all 0.3s ease;
}
.nav-b .mega-box .content-a .row {
  line-height: 13px;
  width: calc(25% - 30px);
}
.nav-b .mega-box .content-a .row header {
  color: black;
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 10px;
}
.nav-b .mega-box .content-a .row header h3 a.title-link {
  color: black;
  text-transform: none;
  font-weight: bold;
  font-size: 12px;
}
.nav-b .mega-box .content-a .row .mega-links {
  border-left: 1px solid rgba(255, 255, 255, 0.09);
  display: flex;
  flex-direction: column;
}
.nav-b .mega-box .content-a .row .mega-links .plus {
  color: #99D02C !important;
}
.nav-b .mega-box .content-a .row .mega-links li a {
  padding: 3px 0;
  color: #3f3f3f;
  font-size: 11px;
  display: block;
  text-transform: none;
}
.nav-b .mega-box .content-a .row a {
  transition: all 0.3s ease;
}
.nav-b .mega-box .content-a .row a:hover {
  text-decoration: underline;
}
.nav-b .mega-box .content-a .row:nth-child(1), .nav-b .mega-box .content-a .row:nth-child(2) {
  border-left: 0px;
}
.nav-b .content-b {
  width: 1000px;
  max-width: 1000px;
  padding: 25px 20px;
  display: grid;
  grid-template-columns: 20% 75%;
  justify-content: space-between;
  line-height: 14px;
  font-family: "Montserrat", sans-serif;
}
.nav-b .content-b .left-col {
  grid-column: 1/span 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.nav-b .content-b .left-col li {
  line-height: 14px;
}
.nav-b .content-b .left-col li a {
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}
.nav-b .content-b .left-col li a:hover {
  text-decoration: underline;
}
.nav-b .content-b .right-col {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.nav-b .content-b .right-col header h3 a {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}
.nav-b .content-b .right-col header h3 a:hover {
  text-decoration: underline;
}
.nav-b .content-b .right-col .cards-area {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.nav-b .content-b .right-col .cards-area li a {
  display: inline-block;
  width: 130px;
  height: 200px;
}
.nav-b .content-b .right-col .cards-area li a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.nav-b .content-b .right-col .cards-area li p {
  margin-top: 10px;
  font-size: 11px;
  color: black;
  text-align: center;
}

.mobile-navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 998;
}
@media screen and (min-width: 1024px) {
  .mobile-navigation {
    display: none;
  }
}
.mobile-navigation .nav-c {
  display: flex;
  justify-content: space-between;
  min-width: 90vw;
  max-width: 100%;
  padding: 15px 4vw;
  background-color: rgba(255, 255, 255, 0.2);
}
.mobile-navigation .nav-c h1 {
  width: 184.5px;
  height: 50px;
}
.mobile-navigation .nav-c h1 a {
  width: 100%;
  height: 100%;
}
.mobile-navigation .nav-c h1 a img {
  width: 100%;
  height: 100%;
}
.mobile-navigation .nav-c .light-buttons {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.mobile-navigation .nav-c .light-buttons .search-btn, .mobile-navigation .nav-c .light-buttons .menu-btn {
  background-color: transparent;
  border: 0px solid transparent;
  font-size: 25px;
  color: white;
  padding: 0;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.mobile-navigation .mobile-menu-toggle {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 99999999px;
}
.mobile-navigation .mobile-menu-toggle:checked ~ .nav-d {
  right: 0;
}
.mobile-navigation .nav-d {
  background-color: white;
  position: fixed;
  width: 100vw;
  right: -100vw;
  top: 0;
  height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  transition: all 0.3s ease;
  z-index: 999;
}
@media screen and (min-width: 330px) {
  .mobile-navigation .nav-d {
    width: 85vw;
    right: -85vw;
  }
}
@media screen and (min-width: 390px) {
  .mobile-navigation .nav-d {
    width: 78vw;
    right: -78vw;
  }
}
@media screen and (min-width: 600px) {
  .mobile-navigation .nav-d {
    width: 50vw;
    right: -50vw;
  }
}
@media screen and (min-width: 768px) {
  .mobile-navigation .nav-d {
    width: 300px;
    right: -300px;
  }
}
.mobile-navigation .nav-d .dark-buttons {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
  padding-right: 4vw;
  height: 80px;
}
.mobile-navigation .nav-d .dark-buttons .search-btn, .mobile-navigation .nav-d .dark-buttons .menu-btn {
  background-color: transparent;
  border: 0px solid transparent;
  font-size: 25px;
  color: black;
  padding: 0;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile-navigation .nav-d .menu-items-mb {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}
.mobile-navigation .nav-d .menu-items-mb a, .mobile-navigation .nav-d .menu-items-mb label {
  color: black;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  padding: 15px 40px;
  border-bottom: 1px solid black;
  width: calc(100% - 80px);
}
.mobile-navigation .nav-d .menu-items-mb li {
  overflow: hidden;
}
.mobile-navigation .nav-d .menu-items-mb input {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: -99999px;
}
.mobile-navigation .nav-d .menu-items-mb .destinos-items-mb {
  height: 0;
  transition: all 0.3s ease;
}
.mobile-navigation .nav-d .menu-items-mb .destinos-items-mb a {
  padding: 15px 20px 15px 60px;
}
.mobile-navigation .nav-d .menu-items-mb #destinos-mb:checked ~ .destinos-items-mb {
  height: auto;
}
.mobile-navigation .nav-d .menu-items-mb .produtos-items-mb {
  height: 0;
  transition: all 0.3s ease;
}
.mobile-navigation .nav-d .menu-items-mb .produtos-items-mb a {
  padding: 15px 20px 15px 60px;
}
.mobile-navigation .nav-d .menu-items-mb #produtos-mb:checked ~ .produtos-items-mb {
  height: unset;
}
.mobile-navigation .nav-d .menu-items-mb .parent-item {
  display: flex;
  justify-content: space-between;
}
.mobile-navigation .nav-d .bottom-wrapper {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile-navigation .nav-d .bottom-wrapper .green-highlight {
  background-color: #99D02C;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  width: 190px;
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.3s ease;
  -moz-column-gap: 5px;
       column-gap: 5px;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
}
.mobile-navigation .nav-d .bottom-wrapper .green-highlight .user-icon {
  transition: all 0.3s ease;
}
.mobile-navigation .nav-d .bottom-wrapper .green-highlight svg {
  filter: invert(100%);
}
.mobile-navigation #mobile-search-toggle {
  position: absolute;
  left: -999999px;
  visibility: hidden;
  opacity: 0;
}
.mobile-navigation #mobile-search-toggle:checked ~ .mobile-global-search {
  left: 0;
}
.mobile-navigation .mobile-global-search {
  background-color: white;
  padding: 10px 40px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
  height: 64px;
  left: -100vw;
  transition: all 0.3s ease;
  z-index: 998;
}
.mobile-navigation .mobile-global-search .wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.mobile-navigation .mobile-global-search .wrapper input {
  width: calc(80% - 30px);
  min-width: calc(80% - 30px);
  max-width: calc(80% - 30px);
  height: 20px;
  background-color: white;
  border: 1px solid black;
  padding: 10px 15px;
  min-height: 0;
}
.mobile-navigation .mobile-global-search .wrapper input::-moz-placeholder {
  font-weight: 700;
}
.mobile-navigation .mobile-global-search .wrapper input::placeholder {
  font-weight: 700;
}
.mobile-navigation .mobile-global-search .wrapper button {
  width: 15%;
  background-color: white;
  border: 1px solid black;
  font-weight: 700;
  min-height: 0;
}

.white-nav {
  background-color: white !important;
}
.white-nav a {
  color: black !important;
}
.white-nav form input {
  color: black !important;
}
.white-nav form input::-moz-placeholder {
  color: black !important;
  letter-spacing: 1px;
}
.white-nav form input::placeholder {
  color: black !important;
  letter-spacing: 1px;
}
.white-nav form .search-btn {
  color: black !important;
}
.white-nav .green-highlight {
  color: black !important;
}
.white-nav .green-highlight .user-icon {
  filter: invert(100%);
}

.white-mobile-nav {
  background-color: white !important;
}
.white-mobile-nav .light-buttons .search-btn, .white-mobile-nav .light-buttons .menu-btn {
  color: black !important;
}

.site-footer {
  color: white;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}
@media screen and (min-width: 1200px) {
  .site-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.site-footer .footer-top {
  background-color: #161326;
  padding: 30px 4vw;
}
@media screen and (min-width: 768px) {
  .site-footer .footer-top {
    padding: 52px 6vw;
  }
}
@media screen and (min-width: 1200px) {
  .site-footer .footer-top {
    padding: 52px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.site-footer .footer-top .wrapper {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 25px;
}
@media screen and (min-width: 1200px) {
  .site-footer .footer-top .wrapper {
    width: 970px;
  }
}
.site-footer .footer-top .wrapper .footer-nav {
  grid-column: 1/span 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
  font-size: 14px;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .site-footer .footer-top .wrapper .footer-nav {
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .site-footer .footer-top .wrapper .footer-nav {
    justify-content: space-between;
  }
}
.site-footer .footer-top .wrapper .footer-nav .nav-col {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 250px;
}
@media screen and (min-width: 1200px) {
  .site-footer .footer-top .wrapper .footer-nav .nav-col {
    width: 200px;
    max-width: unset;
    align-items: flex-start;
  }
}
.site-footer .footer-top .wrapper .footer-nav .nav-col h2 {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .site-footer .footer-top .wrapper .footer-nav .nav-col h2 {
    text-align: left;
  }
}
.site-footer .footer-top .wrapper .footer-nav .nav-col address {
  text-align: center;
  width: 250px;
  line-height: 21px;
  color: #B3B3B3;
}
@media screen and (min-width: 1200px) {
  .site-footer .footer-top .wrapper .footer-nav .nav-col address {
    text-align: left;
    width: 100%;
  }
}
.site-footer .footer-top .wrapper .footer-nav .nav-col .nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 7px;
}
@media screen and (min-width: 1200px) {
  .site-footer .footer-top .wrapper .footer-nav .nav-col .nav-links {
    align-items: flex-start;
  }
}
.site-footer .footer-top .wrapper .footer-nav .nav-col .nav-links li a {
  text-decoration: none;
  color: #B3B3B3;
}
.site-footer .footer-top .wrapper .footer-nav .nav-col .nav-links li a:hover {
  text-decoration: underline;
}
.site-footer .footer-top .wrapper .footer-nav .nav-col .network-icons {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
  align-items: center;
  margin-top: 44.5px;
}
@media screen and (min-width: 1200px) {
  .site-footer .footer-top .wrapper .footer-nav .nav-col .network-icons {
    justify-self: flex-end;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
.site-footer .footer-top .wrapper .footer-nav .nav-col .network-icons a {
  color: white;
  font-size: 21px;
}
@media screen and (min-width: 1200px) {
  .site-footer .footer-top .wrapper .footer-nav .nav-col .network-icons a {
    font-size: 30px;
  }
}
.site-footer .footer-top .wrapper .footer-nav .nav-col .network-icons a img {
  height: 21px;
}
@media screen and (min-width: 1200px) {
  .site-footer .footer-top .wrapper .footer-nav .nav-col .network-icons a img {
    height: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .site-footer .footer-top .wrapper .footer-nav .address-col {
    width: 425px;
  }
}
.site-footer .footer-top .wrapper .form-section {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  width: 100%;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .site-footer .footer-top .wrapper .form-section {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.site-footer .footer-top .wrapper .form-section .newsletter-form {
  width: 80%;
  max-width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .site-footer .footer-top .wrapper .form-section .newsletter-form {
    width: unset;
    max-width: unset;
  }
}
@media screen and (min-width: 1200px) {
  .site-footer .footer-top .wrapper .form-section .newsletter-form {
    flex-direction: row;
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
}
.site-footer .footer-top .wrapper .form-section .newsletter-form .title-area {
  text-align: center;
  margin-bottom: 16px;
  width: 100%;
}
@media screen and (min-width: 1260px) {
  .site-footer .footer-top .wrapper .form-section .newsletter-form .title-area {
    text-align: left;
  }
}
.site-footer .footer-top .wrapper .form-section .newsletter-form .title-area h2 {
  font-weight: bold;
  font-size: 14px;
  color: white;
  line-height: 21px;
  text-transform: uppercase;
}
.site-footer .footer-top .wrapper .form-section .newsletter-form .title-area p {
  font-size: 14px;
  color: #B3B3B3;
}
.site-footer .footer-top .wrapper .form-section .newsletter-form .fillable-fields {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
@media screen and (min-width: 1200px) {
  .site-footer .footer-top .wrapper .form-section .newsletter-form .fillable-fields {
    width: 270px;
  }
}
.site-footer .footer-top .wrapper .form-section .newsletter-form .fillable-fields input[type=text], .site-footer .footer-top .wrapper .form-section .newsletter-form .fillable-fields input[type=email], .site-footer .footer-top .wrapper .form-section .newsletter-form .fillable-fields select {
  background-color: #2E2B3C;
  border: 0px solid transparent;
  color: white;
  font-size: 14px;
}
.site-footer .footer-top .wrapper .form-section .newsletter-form .fillable-fields input[type=text], .site-footer .footer-top .wrapper .form-section .newsletter-form .fillable-fields input[type=email] {
  padding: 20px 15px;
  height: 15px;
}
.site-footer .footer-top .wrapper .form-section .newsletter-form .fillable-fields select {
  height: 55px;
  padding: 0 15px;
}
.site-footer .footer-top .wrapper .form-section .newsletter-form .fillable-fields .checkbox-field {
  display: flex;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
  margin: 10px 0;
  text-align: justify;
}
@media screen and (min-width: 1200px) {
  .site-footer .footer-top .wrapper .form-section .newsletter-form .fillable-fields .checkbox-field {
    text-align: initial;
  }
}
.site-footer .footer-top .wrapper .form-section .newsletter-form .fillable-fields .checkbox-field label {
  font-size: 14px;
}
.site-footer .footer-top .wrapper .form-section .newsletter-form .submit-area {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .site-footer .footer-top .wrapper .form-section .newsletter-form .submit-area {
    margin-top: 30px;
  }
}
.site-footer .footer-top .wrapper .form-section .newsletter-form .squarey-recaptcha-box {
  width: 150px;
  height: 138px;
  background-color: #222222;
  margin-bottom: 10px;
}
.site-footer .footer-top .wrapper .form-section .newsletter-form .submit-btn {
  background-color: transparent;
  border: 0px solid black;
  color: #99D02C;
  text-transform: uppercase;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  margin: 10px 0;
  font-weight: bold;
  cursor: pointer;
}
.site-footer .footer-top .wrapper .safety-watermark {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  margin-top: 10px;
  margin-bottom: 22px;
}
@media screen and (min-width: 1200px) {
  .site-footer .footer-top .wrapper .safety-watermark {
    margin-right: 344px;
    margin-top: 52px;
  }
}
.site-footer .footer-top .wrapper .safety-watermark .divider {
  width: 290px;
  height: 10px;
  background-color: #2E2B3C;
  border-radius: 5px;
}
@media screen and (min-width: 1200px) {
  .site-footer .footer-top .wrapper .safety-watermark .divider {
    display: none;
  }
}
.site-footer .footer-bottom {
  background-color: #0C0150;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  row-gap: 10px;
  width: 100%;
}
.site-footer .footer-bottom p {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
.site-footer .footer-bottom img {
  width: 160px;
  height: 33px;
}/*# sourceMappingURL=main_navigation.css.map */