* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 900;
}
nav:hover > .nav-a, nav:hover > .nav-b {
  background-color: white;
}
nav:hover .upper-right .green-highlight, nav:hover .search-btn .btn-ico, nav:hover .nav-links li a {
  color: black;
}
nav:hover .upper-right .user-icon {
  filter: invert(100%);
}

.nav-a {
  background-color: rgba(255, 255, 255, 0.2);
  color: #3c3c3c;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  font-family: "Montserrat", sans-serif;
  transition: all 0.4s ease;
}
.nav-a .wrapper {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 30% 40% 30%;
  padding: 0 10px;
  width: 100%;
  align-items: center;
}
.nav-a .wrapper .search-field {
  display: flex;
  flex-direction: row-reverse;
  -moz-column-gap: 17.2px;
       column-gap: 17.2px;
  grid-column: 1/span 1;
  justify-content: flex-end;
  margin-left: 40px;
}
.nav-a .wrapper .search-field input {
  outline: none;
}
.nav-a .wrapper .search-field input::-moz-placeholder {
  color: white;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  letter-spacing: 5px;
}
.nav-a .wrapper .search-field input::placeholder {
  color: white;
  transition: all 0.3s ease;
  letter-spacing: 5px;
}
.nav-a .wrapper .search-field input, .nav-a .wrapper .search-field .search-btn {
  background-color: transparent;
  color: white;
  border: 0px solid black;
  transition: all 0.3s ease;
}
.nav-a .wrapper .search-field .btn-ico {
  transition: all 0.3s ease;
}
.nav-a .wrapper .search-field input:active ~ input::-moz-placeholder {
  letter-spacing: 1px;
}
.nav-a .wrapper .search-field input:active ~ input::placeholder {
  letter-spacing: 1px;
}
.nav-a .wrapper .site-logo {
  height: 50px;
  width: 200px;
  justify-self: center;
  grid-column: 2/span 1;
}
.nav-a .wrapper .site-logo .logo-img {
  height: 100%;
  width: 100%;
}
.nav-a .wrapper .upper-right {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
  justify-content: flex-end;
  grid-column: 3/span 1;
}
.nav-a .wrapper .green-highlight {
  background-color: #99D02C;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 190px;
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.3s ease;
}
.nav-a .wrapper .green-highlight:hover {
  color: black;
}
.nav-a .wrapper .green-highlight .user-icon {
  transition: all 0.3s ease;
}
.nav-a .wrapper a {
  color: white;
  text-decoration: none;
}
.nav-a .wrapper .currency-field {
  flex-direction: column;
  font-size: 11.1px;
  line-height: 13.9px;
  cursor: pointer;
}
.nav-a .wrapper .currency-field .bold {
  font-weight: bold;
}
.nav-a .wrapper .agent-field {
  font-size: 13px;
  -moz-column-gap: 5px;
       column-gap: 5px;
  text-transform: uppercase;
}

.nav-b {
  background-color: rgba(255, 255, 255, 0.4);
  height: 50px;
  /* line-height: 50px; */
  transition: all 0.3s ease;
  font-family: "Montserrat", sans-serif;
}
.nav-b .wrapper {
  /* position: relative; */
  max-width: 1000px; /* change here */
  padding: 0 30px; /* change here */
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-b .nav-links {
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.nav-b .wrapper .nav-links {
  display: inline-flex;
}
.nav-b .nav-links li {
  list-style: none;
}
.nav-b .nav-links .nav-link {
  line-height: 50px;
}
.nav-b .nav-links li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.3s ease;
  border-radius: 5px;
  text-transform: uppercase;
}
.nav-b .nav-links li:hover .drop-menu,
.nav-b .nav-links li:hover .mega-box {
  top: 120px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
.nav-b .mega-box {
  position: absolute;
  top: 135px;
  width: 100vw;
  left: 0;
  opacity: 0;
  visibility: hidden;
  background-color: white;
  display: flex;
  justify-content: center;
}
.nav-b .mega-box .content-a {
  padding: 25px 20px;
  display: flex;
  width: 1000px;
  max-width: 1000px;
  justify-content: space-between;
  transition: all 0.3s ease;
}
.nav-b .mega-box .content-a .row {
  line-height: 13px;
}
.nav-b .mega-box .content-a .row header {
  color: black;
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 10px;
}
.nav-b .mega-box .content-a .row header h3 a.title-link {
  text-transform: none;
  font-weight: bold;
  font-size: 12px;
}
.nav-b .mega-box .content-a .row a {
  transition: all 0.3s ease;
}
.nav-b .mega-box .content-a .row a:hover {
  text-decoration: underline;
}
.nav-b .content-a .row,
.nav-b .content-b .row {
  width: calc(25% - 30px);
}
.nav-b .content-b .row img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.nav-b .content-a .row .mega-links,
.nav-b .content-b .row .mega-links {
  border-left: 1px solid rgba(255, 255, 255, 0.09);
  /* margin-left: -40px; */
}
.nav-b .content-a .row .mega-links {
  display: flex;
  flex-direction: column;
}
.nav-b .content-a .row .mega-links .plus {
  color: #99D02C;
}
.nav-b .content-a .row:nth-child(1),
.nav-b .content-a .row:nth-child(2),
.nav-b .content-b .row:nth-child(1),
.nav-b .content-b .row:nth-child(2) {
  border-left: 0px;
}
.nav-b .content-a .row .mega-links li {
  line-height: initial;
}
.nav-b .content-b .row .mega-links li {
  /* padding: 0 20px; */
}
.nav-b .content-a .row .mega-links li a {
  padding: 3px 0;
  color: black;
  font-size: 11px;
  display: block;
  text-transform: none;
}

#video {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=main_styles copy.css.map */