$montserrat: "Montserrat", sans-serif;
$roboto: "Roboto", sans-serif;
$tenor_sans: "Tenor Sans", sans-serif;
$xxl: 1500px;
$xl: 1260px;
$lg: 1024px;
$xmd: 950px;
$md: 768px;
$sm: 400px;
$xsm: 300px;
$lime-green: #99D02C;
$navy: #0C0150;
$secondary-navy: #04004F;
$dark-navy: #161326;
$secondary-dark-navy: #091360;
$olive-green: #989898;

main {
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }
}

.shaded-overlay {
  height: 460px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.150);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 150;
}


.banner {
  background-image: url(../img/banner-folhetos.jpg);
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  height: 460px;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  .title-area {
    margin-bottom: 50px;

    @media screen and (min-width: $lg) {
        margin-bottom: 85px;
    }

    h1 {
      color: white;
      font-size: 3rem;
      line-height: 1.2;
      font-family: $tenor_sans;
      text-transform: uppercase;
      width: 92vw;
      position: relative;
      z-index: 151;
  
      @media screen and (min-width: $md) {
        font-size: 4.8rem;
        width: 88vw;
      }
  
      @media screen and (min-width: $xl) {
        width: 1000px;
      }
    }

    strong {
      font-size: 1.8rem;
      font-weight: 500;
      font-family: $roboto;
      color: $lime-green;
    }
  }
}

.form-area {
  display: flex;
  align-items: center;
  justify-content: center;

  .wrapper {
    width: 92vw;

    @media screen and (min-width: $md) {
      width: 88vw;
    }

    @media screen and (min-width: $xl) {
      width: 1000px;
    }
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    
    h2 {
      font-size: 2.4rem;
      color: $secondary-navy;
      margin-bottom: 50px;
    }
  }
}