$montserrat: "Montserrat", sans-serif;
$roboto: "Roboto", sans-serif;
$tenor_sans: "Tenor Sans", sans-serif;
$xxl: 1500px;
$xl: 1260px;
$lg: 1024px;
$xmd: 950px;
$md: 768px;
$sm: 400px;
$xsm: 300px;
$lime-green: #99D02C;
$navy: #0C0150;
$secondary-navy: #04004F;
$dark-navy: #161326;
$secondary-dark-navy: #091360;
$olive-green: #989898;

main {
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }
}

.shaded-overlay {
  height: 460px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.150);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 150;
}


.banner {
  background-image: url(../img/banner-folhetos.jpg);
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  height: 460px;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  .title-area {
    margin-bottom: 50px;

    @media screen and (min-width: $lg) {
        margin-bottom: 85px;
    }

    h1 {
      color: white;
      font-size: 3rem;
      line-height: 1.2;
      font-family: $tenor_sans;
      text-transform: uppercase;
      width: 92vw;
      position: relative;
      z-index: 151;
  
      @media screen and (min-width: $md) {
        font-size: 4.8rem;
        width: 88vw;
      }
  
      @media screen and (min-width: $xl) {
        width: 1000px;
      }
    }

    strong {
      font-size: 1.8rem;
      font-weight: 500;
      font-family: $roboto;
      color: $lime-green;
    }
  }
}

.form-area {
  display: flex;
  align-items: center;
  justify-content: center;

  .wrapper {
    width: 92vw;

    @media screen and (min-width: $md) {
      width: 88vw;
    }

    @media screen and (min-width: $xl) {
      width: 1000px;
    }
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px 0px;

    @media screen and (min-width: $md) {
      padding: 50px 0px;
    }

    @media screen and (min-width: $xl) {
      padding: 70px 0px;
    }
    
    h2 {
      font-size: 2.4rem;
      color: $secondary-navy;
      margin-bottom: 50px;
      text-transform: uppercase;
      letter-spacing: -1px;
    }

    .divider {
      color: $lime-green;
      width: 100%;
      margin-top: 20px;
      margin-bottom: 50px;
    }

    .grid-two-cols {
      display: grid;
      grid-template-columns: 100%;

      @media screen and (min-width: $md) {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
      }

      @media screen and (min-width: $xl) {
        column-gap: 50px;
      }
    }

    .grid-one-col {
      display: grid;
      grid-template-columns: 100%;
    }

    .grid-four-cols {
      display: grid;
      grid-template-columns: 100%;

      @media screen and (min-width: $md) {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
      }

      @media screen and (min-width: $lg) {
        grid-template-columns: repeat(4, 1fr);
      }
    }


    .grid-one-col, .grid-two-cols, .grid-three-cols, .grid-four-cols {
      margin-bottom: 30px;
      row-gap: 30px;

      .input-area {
        width: 100%;

        input, textarea {
          width: 100%;
          border: 0px solid black;
          border-bottom: 1px solid #e5e9ef;
          outline: none;
          padding-bottom: 5px;
          font-size: 1.4rem;
          font-family: $roboto;

          &:focus {
            border-bottom: 1px solid $lime-green;
          }
        }

        textarea {
          height: 130px;
        }
      }
    }

    .submit-area {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      .submit-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 230px;
        border-radius: 6px;
        background-color: $lime-green;
        color: $navy;
        font-family: $roboto;
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: bold;
        cursor: pointer;
        border: 0px solid transparent;

        &:hover {
          background-color: $dark-navy;
          color: white;
        }
      }
    }
  }
}