main {
  box-sizing: border-box;
}
main * {
  box-sizing: border-box;
}

.shaded-overlay {
  height: 460px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 150;
}

.banner {
  background-image: url(../img/banner-folhetos.jpg);
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  height: 460px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.banner .title-area {
  margin-bottom: 50px;
}
@media screen and (min-width: 1024px) {
  .banner .title-area {
    margin-bottom: 85px;
  }
}
.banner .title-area h1 {
  color: white;
  font-size: 3rem;
  line-height: 1.2;
  font-family: "Tenor Sans", sans-serif;
  text-transform: uppercase;
  width: 92vw;
  position: relative;
  z-index: 151;
}
@media screen and (min-width: 768px) {
  .banner .title-area h1 {
    font-size: 4.8rem;
    width: 88vw;
  }
}
@media screen and (min-width: 1260px) {
  .banner .title-area h1 {
    width: 1000px;
  }
}
.banner .title-area strong {
  font-size: 1.8rem;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: #99D02C;
}

.form-area {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-area .wrapper {
  width: 92vw;
}
@media screen and (min-width: 768px) {
  .form-area .wrapper {
    width: 88vw;
  }
}
@media screen and (min-width: 1260px) {
  .form-area .wrapper {
    width: 1000px;
  }
}
.form-area form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 40px 0px;
}
@media screen and (min-width: 768px) {
  .form-area form {
    padding: 50px 0px;
  }
}
@media screen and (min-width: 1260px) {
  .form-area form {
    padding: 70px 0px;
  }
}
.form-area form h2 {
  font-size: 2.4rem;
  color: #04004F;
  margin-bottom: 50px;
  text-transform: uppercase;
  letter-spacing: -1px;
}
.form-area form .divider {
  color: #99D02C;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
}
.form-area form .grid-two-cols {
  display: grid;
  grid-template-columns: 100%;
}
@media screen and (min-width: 768px) {
  .form-area form .grid-two-cols {
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media screen and (min-width: 1260px) {
  .form-area form .grid-two-cols {
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
}
.form-area form .grid-one-col {
  display: grid;
  grid-template-columns: 100%;
}
.form-area form .grid-four-cols {
  display: grid;
  grid-template-columns: 100%;
}
@media screen and (min-width: 768px) {
  .form-area form .grid-four-cols {
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .form-area form .grid-four-cols {
    grid-template-columns: repeat(4, 1fr);
  }
}
.form-area form .grid-one-col, .form-area form .grid-two-cols, .form-area form .grid-three-cols, .form-area form .grid-four-cols {
  margin-bottom: 30px;
  row-gap: 30px;
}
.form-area form .grid-one-col .input-area, .form-area form .grid-two-cols .input-area, .form-area form .grid-three-cols .input-area, .form-area form .grid-four-cols .input-area {
  width: 100%;
}
.form-area form .grid-one-col .input-area input, .form-area form .grid-one-col .input-area textarea, .form-area form .grid-two-cols .input-area input, .form-area form .grid-two-cols .input-area textarea, .form-area form .grid-three-cols .input-area input, .form-area form .grid-three-cols .input-area textarea, .form-area form .grid-four-cols .input-area input, .form-area form .grid-four-cols .input-area textarea {
  width: 100%;
  border: 0px solid black;
  border-bottom: 1px solid #e5e9ef;
  outline: none;
  padding-bottom: 5px;
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
}
.form-area form .grid-one-col .input-area input:focus, .form-area form .grid-one-col .input-area textarea:focus, .form-area form .grid-two-cols .input-area input:focus, .form-area form .grid-two-cols .input-area textarea:focus, .form-area form .grid-three-cols .input-area input:focus, .form-area form .grid-three-cols .input-area textarea:focus, .form-area form .grid-four-cols .input-area input:focus, .form-area form .grid-four-cols .input-area textarea:focus {
  border-bottom: 1px solid #99D02C;
}
.form-area form .grid-one-col .input-area textarea, .form-area form .grid-two-cols .input-area textarea, .form-area form .grid-three-cols .input-area textarea, .form-area form .grid-four-cols .input-area textarea {
  height: 130px;
}
.form-area form .submit-area {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.form-area form .submit-area .submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 230px;
  border-radius: 6px;
  background-color: #99D02C;
  color: #0C0150;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  border: 0px solid transparent;
}
.form-area form .submit-area .submit-btn:hover {
  background-color: #161326;
  color: white;
}/*# sourceMappingURL=request-log.css.map */