$montserrat: "Montserrat", sans-serif;
$roboto: "Roboto", sans-serif;
$tenor_sans: "Tenor Sans", sans-serif;
$xxl: 1500px;
$xl: 1260px;
$lg: 1024px;
$xmd: 950px;
$md: 768px;
$sm: 400px;
$xsm: 300px;
$lime-green: #99D02C;
$navy: #0C0150;
$dark-navy: #161326;
$olive-green: #989898;

:root {
  font-size: 10px;
}

main {
  max-width: 100vw;
  * {
    box-sizing: border-box;
  }
}

.shaded-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 460px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.search-banner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: cadetblue;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  * {
    box-sizing: border-box;
  }

  .wrapper {
    width: 92vw;
    height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    position: relative;
    z-index: 101;

    @media screen and (min-width: $md) {
      width: 88vw;
    }

    @media screen and (min-width: $xl) {
      width: 1170px;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 450px;
      padding-bottom: 30px;

      h1 {
        color: white;
        font-size: 3rem;
        line-height: 1.2;
        font-family: $tenor_sans;
        text-transform: uppercase;
        padding-bottom: 32px;
        letter-spacing: -1px;
        padding: 30px 0;
  
        @media screen and (min-width:$md) {
          font-size: 4.8rem;
        }
      }
  
      p {
        font-size: 1.4rem;
        font-family: $roboto;
        color: white;
        line-height: 1.5;
        letter-spacing: 1.5px;
      }
  
      .cta {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 100%;
        max-width: 140px;
        color: $navy;
        background-color: $lime-green;
        font-size: 1.2rem;
        font-family: $roboto;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        border-radius: 6px;
        cursor: pointer;
        align-self: flex-end;
      }
    }

    
  }
  
  
}

.search-related-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F1F0F5;
  padding-top: 40px;
  padding-bottom: 40px;

  .search-container {
    display: grid;
    width: 92vw;
    grid-template-columns: 100%;
    font-family: $roboto;
    row-gap: 15px;
    grid-auto-flow: dense;

    @media screen and (min-width: $md) {
      width: 97vw;
    }
    
    @media screen and (min-width: $lg) {
      grid-template-columns: repeat(4, 23%);
      column-gap: 2%;
      grid-template-areas: 
      "a b c d"
      "a e e e";
    }

    @media screen and (min-width: $xl) {
      width: 1170px;
    }

    .checkable-filters {
      background-color: #FFF;
      grid-column: 1 / span 1;
      display: flex;
      flex-direction: column;
      padding: 15px 30px;
      margin-bottom: 15px;
      max-height: fit-content;

      @media screen and (min-width: $lg) {
        grid-area: a;
      }

      h2 {
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 1.8rem;
        text-transform: uppercase;
        margin-bottom: 10px;
      }

      .checkbox-area {
        display: flex;
        flex-direction: column;

        
      }

      .checkbox-area {
        .list-title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;
  
          .text-area {
            display: flex;
            font-weight: 600;
            font-size: 1.2rem;
            column-gap: 5px;
            cursor: pointer;
            text-transform: uppercase;
  
            .active-indicator {
              color: $lime-green;
            }

            
  
            p {
              color: $navy;
            }
          }

          .map-pin {
            font-size: 19px;
            color: $lime-green;
            display: inline-block;
            padding-right: 2px;
          }
  
          img {
  
          }
        }

        #categories_list_trigger {
          display: none;
          &:checked ~ .checkbox-list {
            max-height: 700px;
            padding: 10px 0px;
          }
        }

        #countries_list_trigger {
          display: none;
          &:checked ~ .checkbox-list {
            max-height: 700px;
            padding: 10px 0px;
          }
        }

        .checkbox-list {
          display: flex;
          flex-direction: column;
          row-gap: 5px;
          
          font-family: $roboto;
          max-height: 0;
          transition: all 0.3s ease;
          overflow: hidden;

          .custom-checkbox {
            height: 18px;
            width: 18px;
            cursor: pointer;

            input {
              display: none;
              &:checked ~ .checkmark {
                -webkit-box-shadow: inset 0px 0px 3px 5px $lime-green;
                -moz-box-shadow: inset 0px 0px 3px 5px $lime-green;
                box-shadow: inset 0px 0px 3px 5px $lime-green;
              }
            }

            .checkmark {
              width: 100%;
              height: 100%;
              border: 1px solid rgba(80, 80, 80, 0.356);
              display: inline-block;
              border-radius: 4px;
            }
          }

          h3 {
            text-transform: uppercase;
            font-family: $roboto;
            font-size: 1.4rem;
            font-weight: 700;
            color: $lime-green;
            letter-spacing: 2px;
          }

          li {
            font-size: 1.4rem;
            color: #656565;
            display: flex;
            align-items: center;
            column-gap: 5px;
          }
        }
      }

      
    }

    .search-form {
      height: 30px;
      display: flex;
      justify-content: space-between;

      @media screen and (min-width: $lg) {
        grid-area: b;
      }

      input {
        width: calc(100% - 45px);
        height: 100%;
        padding: 5px;
        border: none;
        border-bottom: 1px solid black;
        font-size: 14px;
        background-color: transparent;

        ::placeholder {
          color: #6C757D;
        }
      }

      button {
        height: 100%;
        width: 40px;
        font-size: 11px;
        color: #FFF;
        background-color: $lime-green;
        border: none;
        cursor: pointer;
      }
    }

    .filter-area {
      margin-bottom: 15px;
      margin-top: 10px;

      @media screen and (min-width: $md) {
        width: 150px;
        justify-self: flex-end;
        
        align-self: flex-end;
      }

      @media screen and (min-width: $lg) {
        /* grid-column: 4 / span 1; */
        width: 100%;
        margin-top: 0;
        grid-area: d;
        margin-bottom: 0;
        align-self: flex-start;
      }

      select {
        color: $navy;
        font-weight: 500;
        background-color: #FFF;
        width: 100%;
        padding: 5px;
        border: none;
      }
    }

    .results-messages {
      display: grid;
      grid-template-columns: 100%;
      row-gap: 20px;
      grid-auto-flow: row;

      @media screen and (min-width: $md) {
        grid-template-columns: 49% 49%;
        column-gap: 2%;
      }

      @media screen and (min-width: $lg) {
        /* grid-column: 2 / span 3;
        grid-row: 2 / span 1; */
        grid-area: e;
        grid-template-columns: repeat(3, 31.5%);
        column-gap: 0px;
        justify-content: space-between;
      }

      .loading-results {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        grid-column: 1 / span 1;

        @media screen and (min-width: $md) {
          grid-column: 1 / span 2;
        }

        @media screen and (min-width: $lg) {
          grid-column: 1 / span 3;
        }

        p {
          font-family: $roboto;
          font-weight: 700;
          color: $lime-green;
          font-size: 1.6rem;
        }
      }

      .not-found {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column: 1 / span 1;

        @media screen and (min-width: $md) {
          grid-column: 1 / span 2;
        }

        @media screen and (min-width: $lg) {
          grid-column: 1 / span 3;
        }

        p {
          font-family: $roboto;
          font-weight: 700;
          color: #656565;
          font-size: 1.6rem;
        }
      }
    }

    .cards-grid {
      display: grid;
      grid-template-columns: 100%;
      row-gap: 20px;
      grid-auto-flow: row;

      @media screen and (min-width: $md) {
        grid-template-columns: 49% 49%;
        column-gap: 2%;
      }

      @media screen and (min-width: $lg) {
        /* grid-column: 2 / span 3;
        grid-row: 2 / span 1; */
        grid-area: e;
        grid-template-columns: repeat(3, 31.5%);
        column-gap: 0px;
        justify-content: space-between;
      }

      .loading-results {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        grid-column: 1 / span 1;

        @media screen and (min-width: $md) {
          grid-column: 1 / span 2;
        }

        @media screen and (min-width: $lg) {
          grid-column: 1 / span 3;
        }

        p {
          font-family: $roboto;
          font-weight: 700;
          color: $lime-green;
          font-size: 1.6rem;
        }
      }

      .not-found {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column: 1 / span 1;

        @media screen and (min-width: $md) {
          grid-column: 1 / span 2;
        }

        @media screen and (min-width: $lg) {
          grid-column: 1 / span 3;
        }

        p {
          font-family: $roboto;
          font-weight: 700;
          color: #656565;
          font-size: 1.6rem;
        }
      }

      .card {
        background-color: white;
        font-family: $roboto;

        .post-link {
          display: block;
          text-decoration: none;
          height: 100%;
        }

        .card-img {
          aspect-ratio: 1 / 1;
          width: 100%;
          position: relative;
          z-index: 98;
          object-fit: cover;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover !important;
          }
        }

        .highlight-stamp {
          position: absolute;
          background-color: $navy;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: $roboto;
          font-size: 1rem;
          top: 10px;
          left: 10px;
          z-index: 99;
          width: 60px;
          height: 25px;
          font-weight: 700;
        }

        .card-content {
          padding: 20px;
          display: flex;
          flex-direction: column;
          row-gap: 20px;

          .initial-description {
            display: flex;
            flex-direction: column;
            row-gap: 1px;

            h3 {
              font-size: 1.8rem;
              line-height: 2.2rem;
              font-weight: 500;
              color: $navy;
              text-decoration: uppercase;
            }
  
            p, pre {
              color: $navy;
              font-size: 1.2rem;
              line-height: 1.4rem;
              max-width: max-content;
            }
  
            strong {
              line-height: 1.8rem;
              font-size: 1.4rem;
              color: #B3B3B3;
            }
          }
  
          .complementary-description {
  
            strong {
              color: $lime-green;
              text-transform: uppercase;
              font-size: 1.4rem;
              line-height: 1.68rem;
            }
  
            p, pre {
              color: #B3B3B3;
              font-size: 1.4rem;
              line-height: 1.8rem;
              max-width: max-content;
            }
          }
  
          .additional-info {
            color: #B3B3B3;
            font-size: 1.4rem;
            line-height: 1.8rem;
          }

          .spacer {
            flex-grow: 1;
          }
  
          .card-cta {
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $navy;
            background-color: $lime-green;
            font-size: 1.2rem;
            font-weight: bold;
            text-decoration: none;
            text-transform: uppercase;
            border-radius: 5px;
            justify-self: flex-end;
            border: 0px solid black;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.spinner {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 3px solid $lime-green;
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
}

/* Spinner animation */
@keyframes spin {
  to {
      transform: rotate(360deg);
  }
}